._circle {
    height: 400px;
    width: 400px;
    background: transparent;
    border: 2px solid yellow;
    /*
    background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
*/
    border-radius: 100%;
    margin: 100px auto;
}
.logo-item {
    width: 40px;
    height: 40px;
    display: block;
}
.wrapper-element {
    width: 300px;
    height: 300px;
    float: left;
    position: relative;
    margin: 20px;
}
.runtime-logger {
    width: 300px;
    float: right;
}

.text-renderred {
    font-size: 58px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.center-position {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.active{
    visibility: visible;
    opacity: 1;
}
